body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    gap: 3vh;
}

.screen {
    border: 8px solid #444; /* Dark gray border to simulate a TV frame */
    border-radius: 12px; /* Slightly rounded edges like modern TVs */
    padding: 10px;
    background-color: #111; /* Black background to enhance the screen effect */
    
    width: 200px; /* Adjust size */
    max-width: 100%;
    height: auto;

    box-shadow: 0 0 15px rgba(0, 255, 255, 0.4), 
                0 0 30px rgba(0, 255, 255, 0.2) inset; 
    /* Outer glow + Inner glow to simulate screen light */

    display: block;
    margin: 20px auto; /* Center the image */
}

.center-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.card text-bg-success mb-3{
    padding: 100px;
}

.navbar-brand {
    padding-left: 0.3em;
}
  
  menu .nav-item {
    padding: 0 0.3em;
}

.custom-card {
    display: flex;
    flex: 0, 30px;
    background-color: #1a5c15 !important; /* Custom blue */
    color: white !important; /* Text color for contrast */
    border-width: thick;
    border-color: #3db531;
}

.custom-card .card-title {
    font-size: 2rem !important; /* Make text bigger */
}

.centered-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

td {
    max-width: 1vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
  }

.players, 
.score-count {
    flex: 1; /* Makes both divs equal width */
    min-width: 25vh; /* Prevents flex items from overflowing */
    text-align: center; /* Centers text */
    display: inline-block; /* Prevents divs from stacking */
}

.score-count {
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color: #3db531;
    cursor: default;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: solid thin #3db531;
    background-color: #1a5c15;
  }

footer {
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}

.custom-button {
    background-color: #1a5c15 !important; /* Custom green */
    color: white !important; /* Text color for contrast */
    border-color: #3db531 !important; /* Custom green */
}

@media (max-height: 400px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}